<div class="relative bg-[#F6F6FF] #2ACF82 px-6 h-screen flex justify-center items-center flex-col ">

    <h1 class="absolute text-xl top-28 ">Favourites</h1>
    <h1>You don't have any favourites yet </h1>
    <p>Start expoloring and save your favorites yet!</p>
    <p class="text-center px-5 py-2 rounded-full font-bold text-[#202025] ">Start expoloring and save your favorite
        experiences here.</p>


    <button [routerLink]="['/Search']"
        class="border-[#13B423] border-2 shadow-sm px-6 py-2 rounded-full mt-6 text-[#13B423] ">Explore now
    </button>



</div>