html {
  height: 100%;
}

body {
  height: 100%;
  padding: 0;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.rl-loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.rl-loading-thumb {
  width: 10px;
  height: 40px;
  background-color: #13b423;
  margin: 4px;

  animation: rl-loading 1.5s ease-in-out infinite;
}

.rl-loading-thumb-1 {
  animation-delay: 0s;
}

.rl-loading-thumb-2 {
  animation-delay: 0.5s;
}

.rl-loading-thumb-3 {
  animation-delay: 1s;
}

@keyframes rl-loading {
  0% {
  }
  20% {
    background: white;
    transform: scale(1.5);
  }
  40% {
    background: #13b423;
    transform: scale(1);
  }
}
